<html>
    <head>
        <title>Demo Template 11</title>
        <script src="{{ url_for('static', filename='function.js') }}"></script>
    </head>

    <body>
        <h2>Demo Template 11</h2>

        <p>Contoh penggunaan kode JavaScript di dalam tempalte yang kita buat.</p>

        {# memanggil fungsi yang ditulis dalam JavaScript #}
        2 * 3 = 
        <script lang="javascript">
            var result = kali(2,3);
            document.write(result);
        </script><br>
        2 ** 3 =
        <script>
            var result = pangkat(2,3);
            document.write(result);
        </script>

        
    </body>

    
</html>